:host /deep/ .main {
  margin-right: 1rem;
  display: inline-block;
  margin-right: 1rem;
}

:host /deep/ .main:last-child {
  margin-right: 0;
}

:host .main {
  position: relative;
  display: inline-block;
  padding: 1.25rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}
:host .actions {
  position: absolute;
  right: -0.5rem;
  top: -0.5rem;
}
:host .actions button {
  box-shadow: inset 0px 1px 0px 0px #7a8eb9;
  background: linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
  background-color: #637aad;
  border: 1px solid #314179;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.1rem 0.25rem;
  text-decoration: none;
}
:host .actions button:hover {
  background: linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
  background-color: #5972a7;
}
:host .actions button:active {
  position: relative;
  top: 1px;
}

:host .actions button.addButton {
  box-shadow: inset 0px 1px 0px 0px #9acc85;
  background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
  background-color: #74ad5a;
  border: 1px solid #3b6e22;
}
:host .actions button.addButton:hover {
  background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
  background-color: #68a54b;
}

:host .actions button.delButton {
  box-shadow: inset 0px 1px 0px 0px #f37657;
  background: linear-gradient(to bottom, #ad5a5a 5%, #a54b4b 100%);
  background-color: #ad5a5a;
  border: 1px solid #6e2222;
}
:host .actions button.delButton:hover {
  background: linear-gradient(to bottom, #a54b4b 5%, #ad5a5a 100%);
  background-color: #a54b4b;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  display: block;
}
.popup {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  z-index: 102;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
